<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <div class="card">
      <div class="card-header">Datos de la Cuenta</div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-12"><br></div>
  <div class="col-sm-1"></div>

  <div class="col-sm-10">
    <div class="card">
      <div class="card-header">Datos de Facturacion</div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

      </div>
    </div>
  </div>

  <div class="col-sm-1"></div>
  <div class="col-sm-12"><br></div>

  <div class="col-sm-6" align="center">
    <button type="button" class="btn btn-info">Completar la orden</button>
  </div>

  <div class="col-sm-6" align="center">
    <button type="button" class="btn btn-info">Editar Datos de Facturacion</button>
  </div>

  <div class="col-sm-12"><br></div>

  <div class="col-sm-1"></div>
  <div class=" col-sm-10 jumbotron jumbotron-fluid">
    <div class="container">
      <h3>JUGADORES:</h3>
      <hr class="my-4">
    </div>
    <div *ngFor="let compra of compras">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          
        </div>
        <div class="col-sm-1"></div>
      </div>

    </div>
  </div>
  <div class="col-sm-1"></div>


</div>
